@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage your tasks quickly and easily!</p>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">
        <i class="bi bi-bookmark-plus-fill"></i>
        Tasks
    </a>
</div>